<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/admin/template">
<head>
<title>Edit Peserta</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<div layout:fragment="content">
		<ul class="breadcrumb">
		  <li><a th:href="@{/}">Dashboard</a></li>
		  <li><a th:href="@{/kecamatan/}">Kecamatan</a></li>
		  <li>Form</li>
		</ul>
		
		<div class="container-kecil">
			<h1>Form Kecamatan</h1>
			<form action="#" th:action="@{/kecamatan/form}"	th:object="${kecamatan}" method="post">
				<div class="row">
			      <div class="col-25">
			        <label for="fname">Nama Kecamatan</label>
			      </div>
			      <div class="col-75">
			        <input type="text" th:field="*{namaKecamatan}" placeholder="Nama Kecamatan..">
			        <span th:if="${#fields.hasErrors('namaKecamatan')}"	th:errors="*{namaKecamatan}">Error</span>
			      </div>
			    </div>			   	
			    <div class="row">
			    	<br/>
			    	<input type="hidden" th:field="*{id}" />
			      	<input type="submit" value="Simpan">
			    </div>
			</form>
		</div>
	</div>
</body>
</html>