<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Daftar Kecamatan</title>
</head>
<body>
	<h1>Daftar Kecamatan</h1>
	<a href="${pageContext.request.contextPath}/tambah">Tambah
		Kecamatan</a>
	<table border="1">
		<tr>
			<th>ID</th>
			<th>Nama Kecamatan</th>
			<th colspan="2">Action</th>
		</tr>
		<tr th:each="k : ${daftarKecamatan}">
			<td th:text="${k.id}" />
			<td th:text="${k.namaKecamatan}" />
			<td><a
				href="${pageContext.request.contextPath}/tambah?id=${k.id}">Edit</a></td>
			<td><a
				href="${pageContext.request.contextPath}/hapus?id=${k.id}">Hapus</a></td>
		</tr>
	</table>
</body>
</html>