<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/admin/template">
<head>
<meta charset="ISO-8859-1">
<title>Daftar Kecamatan</title>
</head>
<body>
	<div layout:fragment="content">
		
		<ul class="breadcrumb">
		  <li><a th:href="@{/}">Home</a></li>
		  <li>Kecamatan</li>
		</ul>
		
		<div class="container-kecil">
			<h1>Daftar Kecamatan</h1>
			<a th:href="@{/kecamatan/form/}">Tambah Kecamatan</a>
			<br />
			<br />
			<div style="overflow-x:auto;">
				<table>
					<tr>
						<th>No</th>
						<th>Nama Kecamatan</th>
						<th colspan="2">Action</th>
					</tr>
					<tr th:each="k, index : ${daftarKecamatan}">
						<td th:text="${index.count}" />
						<td th:text="${k.namaKecamatan}" />
						<td><a th:href="@{/kecamatan/form(id=${k.id})}">edit</a></td>
		                <td><a th:href="@{/kecamatan/hapus(id=${k.id})}" onclick="return confirm('Anda yakin mau hapus data ini?');">delete</a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>