<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/admin/template">
<head>
<title>Edit Peserta</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<div layout:fragment="content">
		<ul class="breadcrumb">
		  <li><a th:href="@{/}">Dashboard</a></li>
		  <li><a th:href="@{/kelurahan/}">Kelurahan</a></li>
		  <li>Form</li>
		</ul>
		
		<div class="container-kecil">
			<h1>Form Kelurahan</h1>
			<form th:action="@{/kelurahan/form}" th:object="${kelurahan}" method="post">
				<div class="row">
			      <div class="col-25">
			        <label for="fname">Nama Kelurahan</label>
			      </div>
			      <div class="col-75">
			        <input type="text" th:field="*{namaKelurahan}" placeholder="Nama Kelurahan..">
			        <span th:if="${#fields.hasErrors('namaKelurahan')}"	th:errors="*{namaKelurahan}" class="error">Error</span>
			      </div>
			    </div>
			    <div class="row">
			      <div class="col-25">
			        <label for="country">Kecamatan</label>
			      </div>
			      <div class="col-75">
			        <select name="kecamatan" th:field="*{kecamatan.id}">
			          <option th:each="k : ${daftarKecamatan}" 
			          		  th:value="${k.id}"
			          		  th:text="${k.namaKecamatan}" />
			        </select>
			        <span th:if="${#fields.hasErrors('kecamatan')}" th:errors="*{kecamatan}">Error</span>		        
			      </div>
			    </div>			   	
			    <div class="row">
			    	<br/>
			    	<input type="hidden" th:field="*{id}" />
			      	<input type="submit" value="Simpan">
			    </div>
			</form>
		</div>
	</div>
</body>
</html>