<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/admin/template">
<head>
<title>Edit Peserta</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<div layout:fragment="content">
		<ul class="breadcrumb">
		  <li><a th:href="@{/}">Dashboard</a></li>
		  <li><a th:href="@{/penkum/list?tahun=now}">Penkum</a></li>
		  <li>Form</li>
		</ul>
		
		<div class="container-kecil">
			<h1>Form Penkum</h1>
			<form th:action="@{/penkum/form}" th:object="${penkum}" method="post" enctype="multipart/form-data">
				<div class="row">
			      <div class="col-25">
			        <label for="fname">Jenis Pelaksanaan</label>
			      </div>
			      <div class="col-75">
			      	<input type="radio" name="radiojeniskeg" value="LANGSUNG" th:field="*{jenisPelaksanaan}" checked="checked" onclick="kegPenkum()" /> Langsung
			        <input type="radio" name="radiojeniskeg" value="TIDAK_LANGSUNG" th:field="*{jenisPelaksanaan}" onclick="kegPenkum()" /> Tidak Langsung
			      </div>
			    </div>
				<div class="row">
			      <div class="col-25">
			        <label for="fname">Sasaran</label>
			      </div>
			      <div class="col-75">
			        <input type="text" th:field="*{sasaran}" placeholder="Siswa-siswi SMPN 1 Palu" />
			        <span th:if="${#fields.hasErrors('sasaran')}" th:errors="*{sasaran}" class="error">Error</span>
			      </div>
			    </div>
			    <div class="row">
			      <div class="col-25">
			        <label for="fname">Tempat</label>
			      </div>
			      <div class="col-75">
			        <input type="text" th:field="*{tempat}" placeholder="Aula SMPN 1 Palu" />
			        <span th:if="${#fields.hasErrors('tempat')}" th:errors="*{tempat}" class="error">Error</span>
			      </div>
			    </div>
			    <div class="row">
			      <div class="col-25">
			        <label for="fname">Waktu</label>
			      </div>
			      <div class="col-25">
			        <input type="text" th:field="*{waktu}" placeholder="2017-01-01" />
			        <span th:if="${#fields.hasErrors('waktu')}" th:errors="*{waktu}" class="error">Error</span>
			      </div>
			    </div>
			    <div class="row">
			      <div class="col-25">
			        <label for="country">Jumlah Peserta</label>
			      </div>
			     <div class="col-25">
			        <input type="text" th:field="*{jumlahPeserta}" placeholder="50" />
			        <span th:if="${#fields.hasErrors('jumlahPeserta')}" th:errors="*{jumlahPeserta}" class="error">Error</span>
			      </div>
			    </div>
			    <div class="row">
			      <div class="col-25">
			        <label for="country">Materi</label>
			      </div>
			     <div class="col-75">
			        <input type="text" th:field="*{materi}" placeholder="Bahaya Narkoba" />
			        <span th:if="${#fields.hasErrors('materi')}" th:errors="*{materi}" class="error">Error</span>
			      </div>
			    </div>
			    <div class="row">
			      <div class="col-25">
			        <label for="country">Petugas</label>
			      </div>
			     <div class="col-75">
			        <input type="text" th:field="*{petugas}" placeholder="Ipul, Ucup, Muhadir" />
			        <span th:if="${#fields.hasErrors('petugas')}" th:errors="*{petugas}" class="error">Error</span>
			      </div>
			    </div>					    
			    <div class="row">
			      <div class="col-25">
			        <label for="country">Kerja Sama Instansi Lain</label>
			      </div>
			     <div class="col-75">
			        <input type="text" th:field="*{kerjaSamaInstansiLain}" placeholder="Dinas Pendidikan Kota Palu" />
			        <span th:if="${#fields.hasErrors('kerjaSamaInstansiLain')}" th:errors="*{kerjaSamaInstansiLain}">Error</span>
			      </div>
			    </div>
			    <div class="row">
			      <div class="col-25">
			        <label for="country">Keterangan</label>
			      </div>
			     <div class="col-75">
			        <input type="text" th:field="*{ket}" placeholder="Keterangan" />
			        <span th:if="${#fields.hasErrors('ket')}" th:errors="*{ket}">Error</span>
			      </div>
			    </div>
			    <div class="row">
			      <div class="col-25">
			        <label for="country">Media Tidak Langsung</label>
			      </div>
			     <div class="col-75">
			        <input type="text" th:field="*{mediaTidakLangsung}" placeholder="Media Tidak Langsung" />
			        <span th:if="${#fields.hasErrors('mediaTidakLangsung')}" th:errors="*{mediaTidakLangsung}">Error</span>
			      </div>
			    </div>		
			    <div class="row">
			      <div class="col-25">
			        <label for="country">Keterangan Tidak Langsung</label>
			      </div>
			     <div class="col-75">
			        <input type="text" th:field="*{ketTidakLangsung}" placeholder="Keterangan Tidak Langsung" />
			        <span th:if="${#fields.hasErrors('ketTidakLangsung')}" th:errors="*{ketTidakLangsung}">Error</span>
			      </div>
			    </div>
			    <div class="row">
			      <div class="col-25">
			        <label for="country">Kelurahan</label>
			      </div>
			      <div class="col-75">
			        <select name="kelurahan" th:field="*{kelurahan.id}">
			          <option th:each="k : ${daftarKelurahan}" 
			          		  th:value="${k.id}"
			          		  th:text="${k.namaKelurahan}" />
			        </select>
			        <span th:if="${#fields.hasErrors('kelurahan')}" th:errors="*{kelurahan}">Error</span>		        
			      </div>
			    </div>		
			    <div class="row">
			      <div class="col-25">
			        <label for="country">Latitude</label>
			      </div>
			     <div class="col-75">
			        <input type="text" th:field="*{latitude}" placeholder="1111111" />
			        <span th:if="${#fields.hasErrors('latitude')}" th:errors="*{latitude}"  class="error">Error</span>
			      </div>
			    </div>	
			    <div class="row">
			      <div class="col-25">
			        <label for="country">Longitude</label>
			      </div>
			     <div class="col-75">
			        <input type="text" th:field="*{longitude}" placeholder="0000000" />
			        <span th:if="${#fields.hasErrors('longitude')}" th:errors="*{longitude}" class="error">Error</span>
			      </div>
			    </div>
			    <div class="row">
			      <div class="col-25">
			        <label for="country">Longitude</label>
			      </div>
			     <div class="col-25">
			        <input type="text" th:field="*{longitude}" placeholder="0000000" />
			        <span th:if="${#fields.hasErrors('longitude')}" th:errors="*{longitude}" class="error">Error</span>
			      </div>
			    </div>	
			    <div class="row">
			      <div class="col-25">
			        <label for="country">Longitude</label>
			      </div>
			     <div class="col-25">
			        <input type="text" th:field="*{longitude}" placeholder="0000000" />
			        <span th:if="${#fields.hasErrors('longitude')}" th:errors="*{longitude}" class="error">Error</span>
			      </div>
			    </div>										   	
			    <div class="row">
			    	<br/>
			    	<input type="hidden" th:field="*{id}" />
			    	
			      	<input type="submit" value="Simpan">
			    </div>
			</form>
		</div>
	</div>
</body>
</html>